AZURE_ENDPOINT = "link_to_your_azure_endpoint"
AZURE_API_KEY = "your_azure_api_key"
AZURE_API_VERSION = "the_version_you_want" # e.g. 2025-01-01-preview
OPENAI_MODEL_NAME = ["gpt-4o", "gpt-4o-mini", "gpt-4"]

DEEPSEEK_BASE_URL = "link_to_your_deepseek_base_url"
DEEPSEEK_API_KEY = "your_deepseek_api_key"
DEEPSEEK_MODEL_NAME = ["deepseek-ai/DeepSeek-V2.5"]

LLAMA_BASE_URL = "link_to_your_llama_base_url"
LLAMA_API_KEY = "your_llama_api_key"
LLAMA_MODEL_NAME = ["llama3-8b"]

QWEN_BASE_URL = "link_to_your_qwen_base_url"
QWEN_API_KEY = "your_qwen_api_key"
QWEN_MODEL_NAME = ["qwen2.5-7b-instruct-1m"]

DEPLOYMENT_NAME = "deepseek-ai/DeepSeek-V2.5" # The model you want to use when execute an experiment.
TEMPERATURE = 1.0
TOP_P = 1.0
